body {
  background: url("images/image.png") ghostwhite;
  background-size: 100%;
  background-attachment: fixed;
  margin: 10px;
}


h2 {
  /*font-family: 'Playfair Display SC', serif;*/
  /*font-weight: bold;*/
}


h3 {
  padding-left: 40px;
  padding-top: 20px;
  opacity: .6;
}


h4 {
  /*font-family: 'Playfair Display SC', serif;*/
  /*font-weight: bold;*/
}


#signin {
  height: 150px;
  border-radius: 5px;
}


#signin-buttons {
  padding-top: 25px;
}


.loginButton {
  margin-right: 10px;
  margin-left: 8px;
}


.card-panel {
  margin: 2px;
  padding: 15px;
}


.card-title {
  font-size: 30px !important;
}


/*input[type=text] {
  color: white;
}*/
