@import url('https://fonts.googleapis.com/css?family=Courgette');

body
{
    margin: 10px;

    background: url('../assets/images/sw6.jpg') ghostwhite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


.mainTitle,
.subTitle
{
    font-family: 'Courgette', cursive;
}

.titlePanel
{
    background-color: rgba(0, 0, 0, .4);
}



h3
{
    padding-top: 20px;
    padding-left: 40px;

    opacity: .6;
}


h4,
h5
{
    color: white;
}


#signin
{
    padding: 15px;

    border-radius: 10px;
}


#signup
{
    margin: 0;
    padding: 0;

    border-radius: 10px;
}


.enterinfo
{
    padding: 2%;

    border-radius: 10px;
}


.signin-buttons
{
    margin-top: 4%;
}


#signup-buttons
{
    padding-top: 35px;
}


.card-panel
{
    margin: 2px;
}


.card-title
{
    font-size: 30px !important;

    text-align: center;
}


.label
{
    font-size: large;
}

#all-trips-data
{
    display: none;

    width: 100%;
}


input[type=text],
input[type=password],
input
{
    color: white;
}

#editStarting,
#editEnding,
#editTips,
#editMiles,
#editHours,
#editDescription {
    color: red;
}
