@import url('https://fonts.googleapis.com/css?family=Courgette');

body
{
  margin: 10px;

  background: url('../assets/images/sw6.jpg') ghostwhite;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}


.mainTitle, .subTitle
{
  font-family: 'Courgette', cursive;
}

.titlePanel {
  background-color: rgba(0, 0, 0, 0.2);
}



h3
{
  padding-top: 20px;
  padding-left: 40px;

  opacity: .6;
}


h4,
h5
{
  color: white;
  /*font-family: 'Playfair Display SC', serif;*/
  /*font-weight: bold;*/
}


#signin
{
  padding: 15px;

  border-radius: 10px;
  /*margin-left: 25%;
  margin-right: 25%;*/
}


#signup
{
  margin: 0;
  padding: 0;

  border-radius: 10px;
}


#enterinfo
{
  /*height: 1100px;*/
  padding: 25px;

  border-radius: 10px;
  /*margin-left: 25%;
  margin-right: 25%;*/
}


#data
{
  padding-right: 40px;
  padding-left: 40px;
  /*margin-left: 25%;
  margin-right: 25%;*/
}


.dropdown
{
  padding-right: 40px;
  padding-left: 40px;
}


.signin-buttons
{
  margin-top: 4%;
}


#signup-buttons
{
  padding-top: 35px;
}


.card-panel
{
  /*background-color: #0c070e;*/
  margin: 2px;
  /*padding: 15px;*/
}


.card-title
{
  font-size: 30px !important;

  text-align: center;
}


.label
{
  font-size: large;
}


input[type=text], input[type=password], input
{
  color: white;
}